<%= link_to "< Voltar", people_path, class: 'btn btn-secondary btn-sm' %>
<%= render @person %>

<div class='d-flex flex-direction-column gap-2'>
  <%= button_to "Remover", @person, method: :delete, class: 'btn btn-danger' %>
  <%= link_to 'Editar', edit_person_path(@person), class: "btn btn-primary mb-2" %>
</div>

<% unless @person.audits.nil? %>
  <hr class='my-4'>
  <h2 class='mt-4'>Logs</h2>
  <%= render partial: 'people/table_audit', locals: {
    person: @person
  } %>
<% end %>

  