<%= link_to "< Voltar", debts_path, class: 'btn btn-secondary btn-sm' %>

<div class="row mt-4">
  <div class="col-6">
    <%= form_with(model: debt) do |form| %>
      <%= render partial: 'shared/errors/validation_errors', locals: { object: debt } %>

      <%= render partial: 'shared/inputs/search_field', locals: {
        field_name: :person_id,
        path: search_people_path,
        form: form
      } %>

      <div class="mb-3">
        <%= form.label :amount, 'Valor', class: 'form-label' %>
        <%= form.number_field :amount, class: 'form-control' %>
      </div>

      <div class="mb-3">
        <%= form.label :observation, 'Observação', class: 'form-label' %>
        <%= form.text_area :observation, class: 'form-control' %>
      </div>

      <div class="mb-3">
        <%= form.submit 'Salvar', class: 'btn btn-primary btn-lg' %>
      </div>
    <% end %>
  </div>
</div>
