<%= link_to "< Voltar", payments_path, class: 'btn btn-secondary btn-sm' %>

<div class="row mt-4">
  <div class="col-6">
    <%= form_with(model: payment) do |form| %>
      <%= render partial: 'shared/errors/validation_errors', locals: { object: payment } %>

      <%= render partial: 'shared/inputs/search_field', locals: {
        field_name: :person_id,
        path: search_people_path,
        form: form
      } %>

      <div class="mb-3">
        <%= form.label :amount, class: 'form-label' %>
        <%= form.text_field :amount, class: 'form-control' %>
      </div>

      <div class="mb-3">
        <%= form.label :paid_at, class: 'form-label' %>
        <%= form.date_field :paid_at, class: 'form-control' %>
      </div>

      <div>
        <%= form.submit class: 'btn btn-primary btn-lg' %>
      </div>
    <% end %>
  </div>
</div>
